{% extends "predict/base.html" %}

{% block main %}

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Iris Prediction</h1>
            <form action="/api/" method="post">
                {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
            </form>
        </div>

        <div id="prediction"><h5 class="pt-3">Prediction Classification:</h5>{{ specie }}</div>
    </div>
</div>

{% endblock %}
